<aside class="main-sidebar sidebar-dark-orange ">



    <!-- Sidebar -->
    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/DataImporter/img/avatar4.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">MCH</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Group/Groups" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Groups
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Group/Contacts" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Contacts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Import/Imports" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Imports
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Export/Exports" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Exports
                            @*<i class="fas fa-angle-left right"></i>*@
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>