<!-- Navbar -->
<nav class="main-sidebar-custom navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <partial name="Partial/_LeftNavbarPartial" />
    <!-- Left navbar links -->
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Account/Login" class="nav-link">Login</a>
        </li>
    </ul>
    <!-- Right navbar links -->

</nav>
<!-- /.navbar -->