@model ListImportModel

@section Styles
{
    <!-- daterange picker -->
    <link rel="stylesheet" href="/DataImporter/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/DataImporter/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

}

<!-- Navbar -->
<nav class="main-sidebar-custom navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <partial name="Partial/_LeftNavbarPartial" />
    <!-- Left navbar links -->
</nav>
<!-- /.navbar -->



<section class="content">


    <div class="card-header">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info" style="padding-bottom:20px">
                    <form class="form-inline" asp-action="Imports" asp-controller="Import" method="post" asp-antiforgery="true">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row row-cols-3">

                                <div class="form-group row col-sm-4  ">
                                    <label asp-for="DateTo" class="col-sm-4 col-form-label">Date To</label>
                                    <div class="input-group date col-sm-10" id="reservationdate1" data-target-input="nearest">
                                        <input asp-for="DateTo" type="datetime" class="form-control datetimepicker-input" id="startdate"
                                               data-target="#reservationdate1" />
                                        <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-sm-4  ">
                                    <label asp-for="DateFrom" class="col-sm-4 col-form-label">Date From</label>
                                    <div class="input-group date col-sm-10" id="reservationdate2" data-target-input="nearest">
                                        <input asp-for="DateFrom" type="datetime" class="form-control datetimepicker-input" id="startdate"
                                               data-target="#reservationdate2" />
                                        <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4" style="padding-top:22px">
                                    <label class="col-sm-4 col-form-label "></label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn btn-primary float-md-right ">search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Import History</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="importData" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>GroupName</th>
                                <th>ExcelFileName</th>
                                <th>ImportDate</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>GroupName</th>
                                <th>ExcelFileName</th>
                                <th>ImportDate</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



<!-- /.content -->
@section Scripts
{
    <!-- date-range-picker -->
    <script src="/DataImporter/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/bootstrap-fileinput/themes/fas/theme.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="/DataImporter/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/DataImporter/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/DataImporter/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/jszip/jszip.min.js"></script>
    <script src="/DataImporter/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/DataImporter/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>

        $(function () {
            $("#importData").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": "/Import/GetImportsData",

                }
            );
            $('#reservationdate1').datetimepicker({
                format: 'L'
            });

            $('#reservationdate2').datetimepicker({
                format: 'L'
            });
        });
        //Date picker
    </script>


    <script>
        $(document).ready(function () {
            $("#input-b9").fileinput({
                showPreview: false,
                showUpload: false,
                elErrorContainer: '#kartik-file-errors',
                allowedFileExtensions: ["xlsx"]
                //uploadUrl: '/site/file-upload-single'
            });
        });
    </script>





}

